{{#each buildings as |data|}}
  <div class="objects-list__object-thumb object-thumb">
      <img src="{{data.building.first_image}}" />
      <div class="bold object-thumb__name">{{data.building.short_name}}</div>
      <div class="object-thumb__station">{{metro-icon}}{{data.building.stations.firstObject.name}}</div>
      <div class="object-thumb__address">{{obj.address}}</div>
  </div>
{{/each}}