<div class="top-row">
    <div class="object-card__image">

        <div class="card-right__header">
            <h1><span>{{data.building.prefix}}<br /> <span class="blue-word">{{data.building.short_name}}</span></span></h1>

        </div>
        <div class="card-right__short-info">
          {{#unless data}}
          {{/unless}}
          <span class="card-right__address">{{data.building.address}} <br /><img class="metro-icon" src="red_metro.png" />{{data.building.stations.firstObject.name}} • {{data.building.stations.firstObject.time}} мин. {{data.building.stations.firstObject.type}} • <a target="_blank" class="ya-url" href="https://yandex.ru/maps/?text={{data.building.coords.lat}},{{data.building.coords.lon}}">посмотреть на карте</a></span>
        </div>

    </div>

    <div class="object-card__right card-right">

        <img src="{{data.building.first_image}}"/>

        <!--<img src="https://static-maps.yandex.ru/1.x/?ll={{data.building.coords.lon}},{{data.building.coords.lat}}&size=555,300&spn=0.016457,0.00619&l=map&pt={{data.building.coords.lon}},{{data.building.coords.lat}},pm2rdm" />-->
    </div>
</div>




<div class="bottom-row">

    <table class="object-card__header-table">
        <tr>
            <td>Класс: <span class="value">{{data.building.bc_class}}</span></td>
            <td>Этажность: <span class="value">{{data.building.floors}}</span></td>
            <td>Общая площадь: <span class="value">{{data.building.area}} м<sup>2</sup></span></td>
            <td>Парковка: <span class="value">{{data.building.parking}}</span></td>
            <!--<td style="">Охрана: <span class="value">{{!data.building.security}}</span></td>-->
        </tr>
    </table>
</div>

<table class="main-table">
    <tr>
        <th>Этаж</th>
        <th>Площадь, м<sup>2</sup></th>
        <th>{{{if (eq orderType 'rent') 'Ставка, руб./м<sup>2</sup> в год ' 'Стоимость, руб./м<sup>2</sup>'}}}</th>
        <th>Налоги</th>
      {{#if (eq orderType 'rent')}}
        <th>Эксл. расходы</th>
      {{/if}}
        <th>Комментарий</th>
    </tr>

  {{#each blocks as |block|}}
      <tr>

          <td>{{block.floors}}</td>
          <td>{{block.area}}</td>
          <td>{{block.price}}</td>
          <td>{{block.taxes}}</td>
      {{#if (eq orderType 'rent')}}

              <td>{{{block.utilities_costs}}}</td>
      {{/if}}
          <td>{{block.condition}}</td>
      </tr>
  {{/each}}

  {{#if data.building.blocks_comment}}
    <tr>
        <td colspan="6" style="text-align: left;padding-left: 25px;">{{data.building.blocks_comment}}</td>
    </tr>
  {{/if}}
</table>
