//@import "pod-styles";
@import "normalize";


/* Fonts */


@font-face {
  font-family: 'MuseoSansCyrl-100';
  src: url('/fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),  url('/fonts/MuseoSansCyrl-100.otf')  format('opentype'),
  url('/fonts/MuseoSansCyrl-100.woff') format('woff'), url('/fonts/MuseoSansCyrl-100.ttf')  format('truetype'), url('/fonts/MuseoSansCyrl-100.svg#MuseoSansCyrl-100') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MuseoSansCyrl-900';
  src: url('/fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),  url('/fonts/MuseoSansCyrl-900.otf')  format('opentype'),
  url('/fonts/MuseoSansCyrl-900.woff') format('woff'), url('/fonts/MuseoSansCyrl-900.ttf')  format('truetype'), url('/fonts/MuseoSansCyrl-900.svg#MuseoSansCyrl-900') format('svg');
  font-weight: normal;
  font-style: normal;
}




/* /Fonts */


$main-blue: #3aaaee;
$font-color: #333333;
$first-header-fsize: 30px;
$main-border-width: 15px;
$page-height: 803px;
$page-width: 1110px;
$gray-font-color: #999999;
$darkgray-font-color: #333333;
$light-grey: #f5f5f5;



.pdf-page {
  clear: both;
  position: relative;
  //border-left: 4mm solid blue;
  border-left: $main-border-width solid $main-blue;
  //height: 782px;
  height: $page-height;
  width: $page-width;
  //display: inline-block;
  //clear: both;
}

$left-text-margin: 50px;
$right-text-margin: $left-text-margin;
$top-text-margin: 40px;


.bold{
  font-family: 'MuseoSansCyrl-900', 'sans-serif';
}

.bold-font{
  font-size: 36px;
  font-family: 'MuseoSansCyrl-900', 'sans-serif';
  line-height: 35px;
}

h1{
  margin: 0;
  //@extend .bold-font;
  font-weight: normal;
  font-family: 'MuseoSansCyrl-900', 'sans-serif';
  /*  font-size:$first-header-fsize;
    font-weight: 900;*/
  //font-family: 'MuseoSansCyrl-900', 'sans-serif';

}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $font-color;
  font-family: 'MuseoSansCyrl-100', 'sans-serif';
}
div.alwaysbreak {
  page-break-before: always;
}

div.nobreak:before {
  clear: both;
}

div.nobreak {
  page-break-inside: avoid;
}

.top-left {
  position: absolute;
  top: $top-text-margin;
  left: $left-text-margin;
}

.new-line {
  display: block;
}

.blue-word {
  color: $main-blue;
}

@import "components/first-page";
@import "components/objects-list";
@import "components/each-page-contacts";
@import "components/objects-on-map";
@import "components/object-card";
@import "components/contacts-page";

div.metro-icon{
  > img.metro-icon__img {
    width: 18px !important;
    height: 13px !important;
    display: inline;
  }
  display: inline;

}


.clearfix{
 clear: both;

}
.table-wrap{
  position: absolute;
  top: 90px;
}
.compare-table{

  //position: absolute;
  //top: 0px;
  left: $left-text-margin;
  //max-height: 200px;
  //overflow: hidden;
  width: $page-width;
  min-width:100%;
  border-top: 1px solid #f5f5f5;
  border-collapse: collapse;

  tr:nth-child(even){
    background-color: #f5f5f5;
  }
  th{
    color: $gray-font-color;
    font-weight: normal !important;

  }
  th, td{
    height: 40px;
    vertical-align: middle;
    text-align: center;
  }
}

.bottom-right{
  position: absolute;
  bottom: 10px;
  right: 10px
}
