.contacts-page{
  $image-height: 460px;
  $image-top: 120px;//calc(#{$top-text-margin} + 80px);
  $name-top: 600px;//calc(#{$image-top} + #{$image-height}  + 40px );
  $phone-top: 630px;//calc(#{$name-top} + 40px);
  position: relative;
  &__right-top{
    position: absolute;
    top: $top-text-margin;
    left: 555px;
    h1{
      width: 230px;
    }
  }
  &__image{
    position: absolute;
    top: $image-top;
    //left: $left-text-margin;
    left: 125px;
    width: 250px;
    max-height: 250px;
    //height: 400px;
    //height: $image-height;
    img{
      object-fit: cover;
      width: inherit;
      height:inherit;
      max-height: inherit;
      border-radius: 115px;
    }
  }
  &__name{
    position: absolute;
    top: $name-top;
    left: $left-text-margin;
    width: 400px

  }

  &__phone{
    position: absolute;
    top: $phone-top;
    left: $left-text-margin;
  }

  &__about{
    position: absolute;
    top: $image-top;
    left: 555px;
  }
  &__about-block{
    padding: 15px 0;
    border-top: 1px solid #dedede;
  }
  &__about-block:last-child{
    border-bottom: 1px solid #dedede;
  }
  &__about-header{
    @extend .blue-word;
    display: block;
    font-size:calc(#{$first-header-fsize} - 8px);
  }

}
.contacts__list{
  position: absolute;
  top: 600px;
  left: $left-text-margin;
  .contacts__list-row{
      margin-bottom: 5px;
  }
}
