.first-page{
  width: 100%;
  height: 100%;
  position: relative;


  clear: both;
  .left-part, .right-part{
  }
  .right-part{
    width: 59%;
    float:right;
    height: 100%;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

  }
  .left-part{
    width: 40%;
    float:left;

  }
  .main-header{
    position: absolute;
    left: $left-text-margin;
    top: 300px;
    @extend .bold-font;
    font-family: 'MuseoSansCyrl-900', 'sans-serif' !important;
    //font-weight: 900;

  }
  .second-header{
    position: absolute;
    left: $left-text-margin;
    top: 382px;
    font-size: 22px;
  }


  .main-page-contacts{
    position: absolute;
    bottom: 10px;
    font-size: 90%;
    left: $left-text-margin;
    width: 250px;
    a{
      color: $main-blue;
    }
  }
}
