.objects-list-page{
  width: 100%;
  height: 100%;
  position: relative;

  .objects-list{
    padding-top: 110px;
    //padding-right: $right-text-margin - $main-border-width;
    padding-left: $left-text-margin - $main-border-width;
    &__object-thumb{
      float: left;
    }
    .object-thumb{


      $thumb-width: 180px;
      img{
        object-fit: cover;
        border-radius: 10px;
        width: $thumb-width;
        height: 115px;//calc(#{$thumb-width} * 0.66);
      }
      width: $thumb-width;
      height: 190px;
      margin: 10px;
      overflow: hidden;

      &__name{
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      &__station{
        padding-bottom: 4px;
      }
    }
  }
}
