.object-card{
  width: 100%;
  height: 100%;

  h1{
    height: 35px;
  }

  &__header-table{
    width: 1100px;

  }

  .top-row{
    border-bottom: 1px solid $light-grey;
    height: 40%;
    clear: both;
    overflow: hidden;
  }

  &__image{
    width: 555px;
    float: left;
    img{
      width: 100%;
      height: inherit;
      object-fit: cover;
      z-index: 20;
    }
  }

  &__right{
    float: left;
    padding: 0;
    margin: 0;

    z-index: 10;
  }

  .card-right{
    width: 555px;
    img{
        width: inherit;
    }
    overflow: hidden;
    &__header{
      padding-top: 55px;//$top-text-margin;
      margin-bottom: 5px;

      height: 100px;

      h1{
        //font-size: 40px;
        font-size: 28px;
        line-height: 45px;
      }
    }
    &__short-info{
      height: 20px;
    }
    &__short-info, &__header{
      padding-left: 50px;//$left-text-margin;
    }
    &__address{
      padding-left: 2px;//$left-text-margin;
      line-height: 24px;
    }
    &__map{
      //height: calc((#{$page-height} / 2) - 147px);
      padding: 0;
      margin: 0;
      width: 100%;
      height: 245px;
      //position: relative;
      //right: 22px;
    }
  }
  .bottom-row{
    $row-height: 40px;
    padding-top: 10px;
    height: $row-height;
    width: $page-width;
    .value{
     color: $darkgray-font-color;
    }
    table{
      padding-left: 22px;
      width: $page-width;
      td{
        vertical-align: middle;
        text-align: center;
        color: #333333;//$gray-font-color;
        font-weight: 900;
        font-size: 15px;
        //border-right: 1px solid $gray-font-color;
      }

      td:last-child{
        border-right: none;
      }
      tr{
        height: $row-height;
      }
    }
  }


  .main-table{
    width: $page-width;
    min-width:100%;
    margin-top:10px;
    border-top: 1px solid #f5f5f5;
    border-collapse: collapse;

    tr:nth-child(even){
      background-color: #f5f5f5;
    }
    th{
      color: $gray-font-color;
      font-weight: normal !important;

    }
    th, td{
      height: 40px;
      vertical-align: middle;
      text-align: center;
    }
  }
}


.metro-icon{
  width: 22px !important;
  padding-right: 3px;
  position: relative;
  top: 2px;
}

.ya-url{
  color: $main-blue;
  border-bottom: 1px dashed $main-blue;
  text-decoration: none;
}
