<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PdfPresentation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/pdf-presentation.css">

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="assets/vendor.js"></script>
    <script src="assets/pdf-presentation.js"></script>

    {{content-for "body-footer"}}
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU&loadByRequire=1" type="text/javascript"></script>

  </body>
</html>
