{{#page-c}}

    <div class="first-page">
        <div class="left-part">
          {{#top-left}}
            {{logo-c}}
          {{/top-left}}

            <div class="main-header">Офисная<span class="blue-word new-line">недвижимость</span></div>
            <div class="second-header">Презентация для  <span class="new-line">компании «{{model.first_slide.clientName}}»</span></div>
            <div class="main-page-contacts">{{model.broker.phone}} • <a href="#">{{model.broker.email}}</a></div>
        </div>
        <div class="right-part">
            <!--<img src="main-pic.jpg"/>-->
            <img src="version4.jpg"/>
        </div>
    </div>
{{/page-c}}




{{#each buildingsPaged as |page|}}
  {{#page-c}}
      <div class="objects-list-page">
        {{#top-left}}
            <h1>Предложенные<span class="blue-word"> объекты</span></h1>
        {{/top-left}}
        {{each-page-contacts broker=model.broker}}
        {{objects-list buildings=page}}
          {{logo-c bottom=true}}
      </div>
  {{/page-c}}
{{/each}}




{{#page-c}}
  {{object-on-map buildings=buildings presID=presID }}
  {{logo-c bottom=true}}
{{/page-c}}

{{#each-in buildings as |key building|}}
  {{#page-c}}
    {{object-card data=building orderType=model.order_type}}
    {{logo-c bottom=true}}
  {{/page-c}}
{{/each-in}}




{{#each buildingsPaged2 as |page|}}
  {{#page-c}}
    {{#top-left}}
        <h1>Сравнительная<span class="blue-word"> таблица</span></h1>
    {{/top-left}}
    {{each-page-contacts broker=model.broker}}

    <br class="clearfix"/>
    <div class="table-wrap">

        <table class="compare-table">
            <tr>
                <th>Название</th>
                <th>Площадь, м<sup>2</sup></th>
                <th>{{{if (eq model.order_type 'rent') 'Ставка, руб./м<sup>2</sup> в год' 'Стоимость, руб./м<sup>2</sup>'}}}</th>
              {{#if (eq model.order_type 'rent')}}
                  <th>Эксл. расходы</th>
              {{/if}}
                <th>Налоги</th>
            </tr>
          {{#each page as |block|}}
              <tr>
                  <td>{{block.buildingName}}</td>
                  <td>{{block.area}}</td>
                  <td>{{block.price}}</td>
                {{#if (eq model.order_type 'rent')}}
                    <td>{{{block.utilities_costs}}}</td>
                {{/if}}
                  <td>{{if block.taxes block.taxes 'неизвестно'}}</td>
              </tr>
          {{/each}}


        </table>
    </div>
    {{logo-c bottom=true}}
  {{/page-c}}
{{/each}}



{{#page-c}}
    <div class="contacts-page">
        <div class="contacts-page__left">
          {{#top-left}}
              <h1>Контактная<span class="blue-word "> информация</span></h1>
          {{/top-left}}
            <div class="contacts-page__image">
                <img src="http://sophie.of.ru/api{{model.broker.photo}}"/>
                <!--<img src="http://sophie.of.ru/system/images/pictures/000/089/753/original/1.jpg?1471269177" />-->
            </div>
            <div class="contacts__list">
                <div class="contacts__list-row">{{model.broker.name}}</div>
                <div class="contacts__list-row">{{model.broker.post}}</div>
                <div class="contacts__list-row">Центр управления недвижимостью</div>
                <div class="contacts__list-row">тел. {{model.broker.phone}}</div>
                <!--<div class="contacts__list-row">тел. {{model.broker.phone}} <em>(мобильный)</em></div>-->
                <div class="contacts__list-row">сайт: <a href="http://of.ru">http://of.ru</a></div>
                <div class="contacts__list-row">почта: <a
                        href="mailto:{{model.broker.email}}">{{model.broker.email}}</a></div>
            </div>
        </div>
        <div class="contacts-page__right">
            <div class="contacts-page__right-top"><h1>О компании</h1></div>
            <div class="contacts-page__about">
                <div class="contacts-page__about-block">
                <span class="contacts-page__about-header">
                    9 лет
                </span>
                    на московском рынке<br/>
                    коммерческой недвижимости
                </div>
                <div class="contacts-page__about-block">
                    Самая полная и актуальная база объектов<br/>
                    коммерческой недвижимости Москвы
                </div>

                <div class="contacts-page__about-block">
                    Полный цикл услуг: подбор объектов<br/>
                    недвижимости, отделка, меблировка и переезд
                </div>

                <div class="contacts-page__about-block">
                    <!--<span class="contacts-page__about-header">
                        Более 50 000
                    </span>-->
                    <span style="color: #3aaaee;">900 успешных сделок</span> по аренде<br/>
                    и продаже недвижимости
                </div>

                <div class="contacts-page__about-block">
                    Команда профессиональных<br/>
                    консультантов
                </div>
            </div>
        </div>
    </div>
    {{logo-c bottom=true}}
{{/page-c}}

